################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DirectoryHelper.Tests/obj/Debug
/DirectoryHelper/obj/Debug
/DirectoryHelper/obj/Release
/DirectoryHelper.Tests/obj/Release
